@import "~bootstrap/scss/bootstrap";

body {
  background-color: lightgrey;
  margin: 7px;
}

#signup-login {
  border: 1px solid black;
  height: 300px;
  width: 300px;
}

.hide {
  display: none;
}

.edit-event, .delete-events {
 margin: 0 15px 0 15px;
}